@page
@model FFTMS.RazorPages.Pages.ProductPages.CreateProductModel
@{
    ViewData["Title"] = "Create Product";
    Layout = "_Layout";
}
<div class="main-container">
    <h1>Create</h1>

    <h4>Farm Tools</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Product.ProductName" class="control-label">Product Name</label>
                    <input asp-for="Product.ProductName" class="form-control" />
                    <span asp-validation-for="Product.ProductName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Product.Description" class="control-label">Description</label>
                    <input asp-for="Product.Description" class="form-control" />
                    <span asp-validation-for="Product.Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Product.Note" class="control-label">Note</label>
                    <input asp-for="Product.Note" class="form-control" />
                    <span asp-validation-for="Product.Note" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Product.ProductImageUrl" class="control-label">Image</label>
                    <input asp-for="Product.ProductImageUrl" class="form-control" />
                    <span asp-validation-for="Product.ProductImageUrl" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="FarmToolCategoriesId">Product Category</label>
                    <select class="form-control" asp-for="Product.CategoryId" required>
                        <option value="">-- Select a Category --</option>
                        @foreach (var category in Model.CateList)
                        {
                            <option value="@category.CategoryId">@category.CategoryName</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-page="ListProduct">Back to List</a>
    </div>

    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
</div>
