@page
@model FFTMS.RazorPages.Pages.FarmToolCategories.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>FarmToolCategories</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FarmToolCategories.FarmToolCategoriesName" class="control-label"></label>
                <input asp-for="FarmToolCategories.FarmToolCategoriesName" class="form-control" />
                <span asp-validation-for="FarmToolCategories.FarmToolCategoriesName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FarmToolCategories.FarmToolCategoriesDescription" class="control-label"></label>
                <input asp-for="FarmToolCategories.FarmToolCategoriesDescription" class="form-control" />
                <span asp-validation-for="FarmToolCategories.FarmToolCategoriesDescription" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="FarmToolCategories.Status" /> @Html.DisplayNameFor(model => model.FarmToolCategories.Status)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="FarmToolCategories.CreateDate" class="control-label"></label>
                <input asp-for="FarmToolCategories.CreateDate" class="form-control" />
                <span asp-validation-for="FarmToolCategories.CreateDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FarmToolCategories.UpdateDate" class="control-label"></label>
                <input asp-for="FarmToolCategories.UpdateDate" class="form-control" />
                <span asp-validation-for="FarmToolCategories.UpdateDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
