@page
@model IndexModel
@{
    ViewData["Title"] = "Home Page";
}
<div class="main-container">
	<div class="pd-ltr-20">
		<div class="text-center">
			<h1 class="text-4xl font-bold text-gray-900">Chào mừng bạn đến với vườn hoa TMS</h1>
			
		</div>
	</div>
</div>